In [1]:
import pandas as pd

import numpy as np

In [4]:

df = pd.read_csv("tokyo_reinfolib.csv")
df.dtypes

種類             object
価格情報区分         object
地域             object
市区町村コード         int64
都道府県名          object
市区町村名          object
地区名            object
最寄駅：名称         object
最寄駅：距離（分）      object
取引価格（総額）        int64
面積（㎡）          object
土地の形状          object
間口             object
延床面積（㎡）        object
建築年            object
建物の構造          object
用途             object
今後の利用目的        object
前面道路：方位        object
前面道路：種類        object
前面道路：幅員（ｍ）    float64
都市計画           object
建ぺい率（％）       float64
容積率（％）        float64
取引時期           object
取引の事情等         object
dtype: object

In [19]:
df[(df["延床面積（㎡）"] == "120") & (df["建築年"] == "2023年") & (df["用途"] == "住宅") & (df["今後の利用目的"] == "住宅")]["取引価格（総額）"]

1979     170000000
7954      82000000
9330      61000000
12373    110000000
12837    160000000
12923    250000000
13211    190000000
13287    120000000
13335    110000000
17705    110000000
17799     91000000
20830     98000000
22725     82000000
25826     77000000
27045     77000000
27277     81000000
29991     48000000
30752     65000000
32877     64000000
33352     48000000
34732     60000000
35422     68000000
39331     50000000
39844     60000000
40959     73000000
44768     78000000
49483     68000000
57439     54000000
Name: 取引価格（総額）, dtype: int64